.vscode/**
src/**
scripts/**
challenges/**/Solution*.java
custom/**/Solution*.java
tests/**/Solution*.java
exams/**/Solution*.java
custom/README.md
**/*.map
**/tsconfig.json
node_modules/**
*.vsix
.gitignore
.github/**
CONTRIBUTING.md
tech-challenges/**
sphynx/**
java-challenges/**
out/**
!out/extension.js
schemas/*.md
media/logo/source/**
media/logo/banner.png
.githooks/**
docs/publishing.md
media/screenshots/**
