.vscode/**
src/**
scripts/**
challenges/**/Solution*.java
custom/**/Solution*.java
custom/README.md
**/*.map
**/tsconfig.json
node_modules/**
*.vsix
.gitignore
.github/**
CONTRIBUTING.md
tech-challenges/**
java-challenges/**
out/**
!out/extension.js
schemas/*.md
media/logo/icon-128.png
media/logo/*.svg
